
Деревья классификации

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.model_selection import GridSearchCV
import numpy as np

Читаем данные

In [ ]:
df = pd.read_csv('file.csv', sep = ';', index_col='ID')
df

       LIMIT_BAL  SEX  ...  PAY_AMT6  default_payment_next_month
ID                     ...
1          20000    2  ...         0                           1
2         120000    2  ...      2000                           1
3          90000    2  ...      5000                           0
4          50000    2  ...      1000                           0
5          50000    1  ...       679                           0
...          ...  ...  ...       ...                         ...
29996     220000    1  ...      1000                           0
29997     150000    1  ...         0                           0
29998      30000    1  ...      3100                           1
29999      80000    1  ...      1804                           1
30000      50000    1  ...      1000                           1

[30000 rows x 24 columns]

Разделяем предикторы и отклик

In [ ]:
X = df.iloc[:, :-1].values  #
y = df.iloc[:, 23].values  # default_payment_next_month
X_train, X_holdout, y_train, y_holdout = train_test_split(X,y, test_size=0.3,random_state=17)

Подбираем основные и самые главные параметры при помощи GridSearch

In [ ]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state = 17)
tree_params = {'max_depth': range(1,11),
               'max_features': range(4,19)}
tree_grid = GridSearchCV(tree, tree_params, cv=5, n_jobs=-1, verbose=True)
tree_grid.fit(X_train, y_train)

Fitting 5 folds for each of 150 candidates, totalling 750 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 216 tasks      | elapsed:    5.2s
[Parallel(n_jobs=-1)]: Done 744 tasks      | elapsed:   34.8s
[Parallel(n_jobs=-1)]: Done 750 out of 750 | elapsed:   35.5s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=17,
                                              splitter='best'),
             iid='deprecated', n_jobs=-1,
             param_grid={'max_depth': range(1, 11),
                         'max_features': range(4, 19)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=True)

Смотрим что получилось

In [ ]:
tree_grid.best_params_, tree_grid.best_score_

({'max_depth': 5, 'max_features': 18}, 0.8202380952380952)

Проверяем работу модели

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_holdout, tree_grid.predict(X_holdout))

0.8237777777777778